## Problem 01 :
Write a function ‘three_sum(nums)’ that finds all unique triplets in the list ‘nums’ that sum to zero. The solution set must not contain duplicate triplets.


### Understanding the problem
**Input Format:**
A list of integers 'nums'.

**Output Format:**
A list of lists, where each list contains three integers such that their sum is zero.

**Constraints:**
- The input list ‘nums’ will contain at least three integers.
- The integers in the list may be both positive and negative.

**Sample Input:**
[-1, 0, 1, 2, -1, -4]

**Sample Output:**
[[-1, -1, 2], [-1, 0, 1]]


### Planning the approach

**Step 1: Sort the numbers**
We sort the list because:
- Sorted order helps with the two-pointer approach (increasing or decreasing sum in a predictable way).
- Makes it easier to skip duplicates.

**Step 2: Initialize result list**
We prepare an empty list `res` to store final triplets.

**Step 3: Loop through each number as a fixed element**
- We iterate from index `0` to `n-3`.
- Why `n-2`? Because we need three numbers in each triplet.
- We fix one number at index `i`.

**Step 3.1: Skip duplicates for fixed number**
If the current number is the same as the previous (`numsi == numsi-1`), we skip it to avoid duplicate triplets.

**Step 4: Two pointers approach**
We set:
- `left = i + 1` (just after `i`)
- `right = n - 1` (last element)
This way, we check pairs `[numsleft, numsright]` along with `numsi`.

**Step 5: Calculate the sum**
We compute:
`total = numsi + numsleft + numsright`
Three cases follow:

**Step 6: If sum = 0**
- We found a valid triplet!
- Add it to result: `res.append([numsi, numsleft, numsright])`

    **Step 6.1: Skip duplicates for `left`**
    If the next number is the same as `numsleft`, increment `left` until a different number comes.

    **Step 6.2: Skip duplicates for `right`**
    If the next number is the same as `numsright`, decrement `right` until a different number comes.

    **Step 6.3: Move both inward**
    After processing one triplet, move both pointers (`left += 1`, `right -= 1`) to find next possible triplets.

**Step 7: If sum < 0**
- Means total is too small.
- Move `left` pointer right (`left += 1`) to increase the sum.

**Step 8: If sum > 0**
- Means total is too big.
- Move `right` pointer left (`right -= 1`) to decrease the sum.

**Step 9: Return result**
Finally, return the list of unique triplets.

### Coding the Program

In [7]:
# Import literal_eval library to safely evaluate string input as a Python 
from ast import literal_eval

# Taking input
nums = literal_eval(input('Enter the list( Must contain at least 3 intergers positive or negative):'))

def three_sum(nums):
    nums.sort()  # Sort the list to simplify duplicate handling and two-pointer approach
    res = []
    n = len(nums)

    for i in range(n - 2):
        # Skip duplicate values for i
        if i > 0 and nums[i] == nums[i - 1]:
            continue

        left, right = i + 1, n - 1
        while left < right:
            total = nums[i] + nums[left] + nums[right]

            if total == 0:
                res.append([nums[i], nums[left], nums[right]])

                # Skip duplicates for left and right
                while left < right and nums[left] == nums[left + 1]:
                    left += 1
                while left < right and nums[right] == nums[right - 1]:
                    right -= 1

                # Move pointers inward after processing this triplet
                left += 1
                right -= 1

            elif total < 0:
                left += 1  # Need a larger number
            else:
                right -= 1  # Need a smaller number

    return res

# Printing the outout
print(three_sum(nums))

Enter the list( Must contain at least 3 intergers positive or negative): [-5, -2, 1, 3, 4]

[[-5, 1, 4]]

### Testing the Program

In [10]:
test_1 = [-1, 0, 1, 2, -1, -4]
print(three_sum(test_1))

[[-1, -1, 2], [-1, 0, 1]]

In [11]:
test_2 = [0,0,0]
print(three_sum(test_2))

[[0, 0, 0]]

In [12]:
test_3 = [1,1,1]
print(three_sum(test_3))

[]

## Problem 02 : Employee Payslip Generator
Create a function generate_salary_statement() that takes four positional arguments: 
- employee_name (string): The name of the employee
- basic_salary (float): The basic salary of the employee
- bonus (float): The bonus amount awarded to the employee
- deductions (float): The total deductions from the employee's salary 

### Understanding the Problem
**Input Format:**
The function will take four arguments in the following order:
- employee_name (string)  
- basic_salary (float)
- bonus (float)  
- deductions (float)  

**The function should:**  
- Calculate the gross salary as: basic_salary + bonus
- Calculate the net salary as: gross_salary - deductions
- Print a salary statement with all details in the exact output format as shown below 

**Output Format:**
Print the salary statement using this format:

`Salary Statement for <employee_name>
Basic Salary: ₹<basic_salary>
Bonus: ₹<bonus>  
Deductions: ₹<deductions>
Gross Salary: ₹<gross_salary>  
Net Salary: ₹<net_salary>`

**Sample Input:**
Rajesh 50000 8000 5000

**Sample Output:**
Salary Statement for Rajesh
Basic Salary: ₹50000.0
Bonus: ₹8000.0
Deductions: ₹5000.0
Gross Salary: ₹58000.0
Net Salary: ₹53000.0

### Planning the approach 

**Step 1:**
Take 4 inputs from the use i.e., employee_name (string), basic_salary(float),bonus(float),deductions(float) . And pass these as arguments to below functions. 

**Step 2:**
- Create a function name *generate_salary_statement()*
- Pass the above 4 arguments as positional arguments

**Step 2.1:**
Calculate the gross salary which will be basic_salary+bonus

**Step 2.2:**
Calculate the net salary which will be gross_salary-deductions

**Step 3:**
print the salary statement

### Coding the Program

In [17]:
# Taking the input
employee_name = str(input('Enter Employees name:'))
basic_salary = float(input('Enter basic salary:'))
bonus = float(input('Enter bonus:'))
deductions = float(input('Enter deductions:'))

# creating the function and logic
def generate_salary_statement(employee_name,basic_salary,bonus,deductions):
    gross_salary = basic_salary+bonus
    net_salary = gross_salary-deductions
    print(f"Salary Statement for {employee_name}")
    print(f'Basic Salary :₹{basic_salary}')
    print(f'Bonus:₹{bonus}')
    print(f'Deductions:₹{deductions}')
    print(f'Gross Salary:₹{gross_salary}')
    print(f'Net Salary:₹{net_salary}')

generate_salary_statement(employee_name,basic_salary,bonus,deductions)

Enter Employees name: JP
Enter basic salary: 500000
Enter bonus: 8000
Enter deductions: 5000

Salary Statement for JP
Basic Salary :₹500000.0
Bonus:₹8000.0
Deductions:₹5000.0
Gross Salary:₹508000.0
Net Salary:₹503000.0

### Testing the program

In [18]:
generate_salary_statement('Rajesh',50000,8000,5000)

Salary Statement for Rajesh
Basic Salary :₹50000
Bonus:₹8000
Deductions:₹5000
Gross Salary:₹58000
Net Salary:₹53000

In [20]:
generate_salary_statement('Anita',40000,0,2000)

Salary Statement for Anita
Basic Salary :₹40000
Bonus:₹0
Deductions:₹2000
Gross Salary:₹40000
Net Salary:₹38000

In [21]:
generate_salary_statement('Kiran',60000,5000,0)

Salary Statement for Kiran
Basic Salary :₹60000
Bonus:₹5000
Deductions:₹0
Gross Salary:₹65000
Net Salary:₹65000

In [22]:
generate_salary_statement('Meena',0,0,0)

Salary Statement for Meena
Basic Salary :₹0
Bonus:₹0
Deductions:₹0
Gross Salary:₹0
Net Salary:₹0

In [23]:
generate_salary_statement('Ajay',45200.50,8750.75,9200.30)

Salary Statement for Ajay
Basic Salary :₹45200.5
Bonus:₹8750.75
Deductions:₹9200.3
Gross Salary:₹53951.25
Net Salary:₹44750.95

In [24]:
generate_salary_statement('Priya',30000,5000,5000)

Salary Statement for Priya
Basic Salary :₹30000
Bonus:₹5000
Deductions:₹5000
Gross Salary:₹35000
Net Salary:₹30000

In [25]:
generate_salary_statement('Manish',999999,1,999)

Salary Statement for Manish
Basic Salary :₹999999
Bonus:₹1
Deductions:₹999
Gross Salary:₹1000000
Net Salary:₹999001

In [28]:
generate_salary_statement('Neha',20000,5000,25000)

Salary Statement for Neha
Basic Salary :₹20000
Bonus:₹5000
Deductions:₹25000
Gross Salary:₹25000
Net Salary:₹0

## Problem 3 : Compare Top Scoring Subjects for Each Student 
You are given three lists representing the scores of students in three subjects: Maths, Science, and English. Each index across the three lists corresponds to a single student.

### Understanding the problem
Write a function evaluate_top_subjects() that:
- Uses zip() to iterate over the scores of each student
- Determines the subject(s) in which each student scored the highest
- Returns a list of strings indicating the top-scoring subject(s) for each student
- If there’s a tie between two or more subjects, return all of them in the order: Maths, Science, English, separated by commas.

**Input Format:**
- Three lists of integers: maths, science, and english
- Each list contains scores for the same number of students in the respective subjects

**Output Format:**
A list of strings, where each string represents the top-scoring subject(s) for one student

**Constraints:**
No upper limit on number of students or scores

**Sample Input:**
[80, 90, 70, 85]
[85, 90, 95, 80]
[75, 90, 80, 85]

**Sample Output:**
['Science', 'Maths,Science,English', 'Science', 'Maths,English']

### Planning the approach
1. Understand Input Structure - We have three separate lists:
- `maths` — Scores in Maths for each student.
- `science` — Scores in Science for each student.
- `english` — Scores in English for each student.
The i-th index across all lists corresponds to the same student’s scores in the three subjects.
   
2. Iterate over scores of each student - Use the `zip()` function to pair together the scores for each student across the three subjects, resulting in tuples like `(math_score, science_score, english_score)`.

3.	Find Maximum Score Per Student - For each tuple representing one student’s scores, find the maximum score to identify the highest subject score(s).

4.	Determine Which Subject(s) Have the Maximum Score - Check which among Maths, Science, and English have the maximum score. There may be:
- A single top subject (e.g., only Maths)
- Multiple subjects tying for the top score (e.g., Maths and Science)

5. Create Top Subject String
- For each student, gather the subject names with the highest score(s).
- Maintain the order: Maths, Science, then English.
- Join multiple subjects into a comma-separated string.

6. Store All Results in a List - Append each student’s top-subject string to a results list.

7. Return the Final List - Once all students are processed, return the list of top subject strings.

### Coding the Program

In [35]:
from ast import literal_eval

# Taking the Input
maths = literal_eval(input())
science = literal_eval(input())
english = literal_eval(input())

# defining funtion to perform the requested operations.
def evaluate_top_subjects(maths,science,english):
    result = []
    subjects = ['Maths','Science','English']

    for m,s,e in zip(maths,science,english):
        scores = [m,s,e]
        max_score = max(scores)
        top_subjects = [subjects[i] for i , score in enumerate(scores) if score == max_score]
        result.append(",".join(top_subjects))
    return result

print(evaluate_top_subjects(maths,science,english))

 [80, 90, 70, 85]
 [85, 90, 95, 80]
 [75, 90, 80, 85]

['Science', 'Maths,Science,English', 'Science', 'Maths,English']

### Testing the Program

In [37]:
evaluate_top_subjects([80],[70],[75])

['Maths']

In [38]:
evaluate_top_subjects([50,60],[80,90],[70,90])

['Science', 'Science,English']

In [39]:
evaluate_top_subjects([100,100,100,100,100],[100,100,100,100,100],[100,100,100,100,100])

['Maths,Science,English',
 'Maths,Science,English',
 'Maths,Science,English',
 'Maths,Science,English',
 'Maths,Science,English']

## Problem 4 : Identify Repeated Strings with Index Details

You are given a list of strings.



Write a function detect_repeats() that tracks repeated elements and returns a list of formatted strings describing the index of the repeated element and the index of its first occurrence. For each element that repeats, include only its second and later appearances.



Each message should follow this format: <element> repeats at index <i>, first found at index <j>. 



If an element repeats more than once, include all the repeated occurrences in the output list.



Hint: Use enumerate() to track both index and value.



Input Format:

A list of strings called items



Output Format:

A list of strings indicating repeat occurrences and first index

The order of the output should match the order of repeated elements in the input



Constraints:

Input list will not be empty
Elements are case-sensitive
There is no upper limit on the number of elements


Sample Input:

["apple", "banana", "apple", "orange", "banana", "apple", "Apple"]



Sample Output:

['apple repeats at index 2, first found at index 0', 'banana repeats at index 4, first found at index 1', 'apple repeats at index 5, first found at index 0']



Explanation:

1. 'apple' is found to repeat at index 2, first appears at index 0

2. 'banana' is found to repeat at index 4, first appears at index 1

3. 'apple' is again found to repeat at index 5, but appears first at index 0

4. 'Apple' and 'orange' are not found to repeat

### Coding the Program

In [40]:
from ast import literal_eval

# Taking the Input
items = literal_eval(input())  

def detect_repeats(items):
    # Write your code here
    first_occurrence = {}
    repeats = []

    for i, item in enumerate(items):
        if item in first_occurrence:
            repeats.append(f"{item} repeats at index {i}, first found at index {first_occurrence[item]}")
        else:
            first_occurrence[item] = i
    return repeats

# Print the Output
print(detect_repeats(items))

 ["apple", "banana", "apple", "orange", "banana", "apple"]

['apple repeats at index 2, first found at index 0', 'banana repeats at index 4, first found at index 1', 'apple repeats at index 5, first found at index 0']

### Testing the Program

In [41]:
detect_repeats(["a", "b", "a", "c", "b"])

['a repeats at index 2, first found at index 0',
 'b repeats at index 4, first found at index 1']

In [42]:
detect_repeats(["x", "y", "z"])

[]

In [43]:
detect_repeats(["word", "word", "word", "word", "word"])

['word repeats at index 1, first found at index 0',
 'word repeats at index 2, first found at index 0',
 'word repeats at index 3, first found at index 0',
 'word repeats at index 4, first found at index 0']

In [44]:
detect_repeats(["A", "a", "A", "a"])

['A repeats at index 2, first found at index 0',
 'a repeats at index 3, first found at index 1']

## Problem 5 : Variable Input Math Operations

You are required to write a Python function named operate_on_numbers() that can perform various mathematical operations on a variable number of input values.




This function should accept:

An operation type (sum, product, or average) as the first argument (string)  
A variable number of numerical arguments (*args)
Your function must evaluate the operation and return the appropriate result based on the given inputs.



The function should behave as follows:

If the first argument is 'sum', return the sum of all the numbers.
If the first argument is 'product', return the product of all the numbers.
If the first argument is 'average', return the arithmetic mean of the numbers.
If no numbers are provided, return the string: "No numbers provided"
If the operation is not one of 'sum', 'product', or 'average', return the string: "Invalid operation specified"


Input Format:  

A single line containing the operation followed by one or more space-separated numbers.    




Output Format:  

- A single float value as the result of the operation

- A message string if no numbers are provided or if the operation is invalid 



Constraints:  

- The operation must be one of 'sum', 'product', or 'average'

- All numbers must be valid floats or integers



Sample Input:

sum 1 2 3 4



Sample Output:

10.0

### Coding the Program

In [81]:
# Taking the input
user_input = input().strip().lower().split()

operation = user_input[0]
numbers = list(map(float, user_input[1:]))

print(operation)
print(numbers)

# Write your code below
def operate_on_numbers(operation, *args):
    print(operation)
    print(args)
   
    if not args:
        return "No numbers provided"
    
    if operation == 'sum':
        return float(sum(numbers))
    
    elif operation == 'product':
        product = 1.0
        for num in numbers:
            product *= num
        return product
    
    elif operation == 'average':
        return float(sum(numbers)) / len(numbers)
    
    else:
        return "Invalid operation specified"

# Print the output
result = operate_on_numbers(operation, *numbers)
print(result)

 'sum',1,2,3

'sum',1,2,3
[]
'sum',1,2,3
()
No numbers provided

In [84]:
operate_on_numbers('sum','1','2')

sum
('1', '2')

3.0

In [83]:
operate_on_numbers('sum','1','2','3','4')

sum
('1', '2', '3', '4')

10.0